

body {
  background-color: #F0F2F5 !important;
  height: 1000px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  position: sticky; /* Giúp navbar dính vào đầu trang khi cuộn */
  top: 0; /* Đặt vị trí ở đầu trang */
  z-index: 10; /* Đảm bảo navbar nằm trên các phần khác */
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Đảm bảo nó chiếm toàn bộ chiều ngang */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng đổ bóng */
}

main, .sidebar, .rightbar {
  margin-top: 3rem; /* Tạo khoảng cách tương ứng với chiều cao của navbar */
}

.hover-trigger {
  position: relative;
}

.hover-trigger:hover .emoji-list {
  opacity: 1; /* Hiện biểu cảm khi hover */
}

.emoji-list {
  position: absolute;
  bottom: 100%; /* Đẩy lên trên */
  left: 0;
  display: flex;
  space-x: 2;
  background: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
  opacity: 0; /* Bắt đầu ẩn */
  pointer-events: none; /* Không cho phép tương tác khi không hiển thị */
}

.hover-trigger:hover .emoji-list {
  pointer-events: auto; /* Cho phép tương tác khi hiển thị */
}


