.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.top {
    display: flex;
    padding: 1rem 0.5rem;
    gap: 5px;
    align-items: center;
    width: 100%;
    // background-color: #333;
    height: 7.5rem;
    border-bottom: 0.5px solid #333;

    .information {
        display: flex;
        padding: 0 1rem;
        align-items: center;
        height: 6rem;
        gap: 1rem;
        cursor: pointer;

        h2 {
            font-style: oblique;
        }
        img {
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            border: 1px solid #333;
        }

        &:hover {
            background-color: #d6d3d3;
            border-radius: 10px;
        }
    }

    .action {
        flex: 1;
        display: flex;
        justify-content: end;
        gap: 1rem;
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4.5rem;
            height: 4.5rem;
            font-size: 2.3rem;
            color: #4586d6;
            cursor: pointer;

            &:hover {
                background-color: #d6d3d3;
                border-radius: 50%;
            }
        }
    }
}
.recall{
    font-style: oblique;
    opacity: 0.5;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1rem;

    p {
        font-size: small;
    }

    .chatzone {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        small {
            text-align: center;
            margin: 10px;
        }

        .contentchat {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 60%;
            gap: 1rem;
            // padding: 0 10px;
            word-wrap: break-word;
            cursor: pointer;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                &:hover {
                    background-color: #e5e5ea;
                }
            }
        }

       

        .usermessage {
            align-self: flex-end;
            .mess {
                background-color: rgb(69, 134, 214);
                border-radius: 10px 10px 0 10px;
                padding: 0 10px;
                color: white;
                // width: 100%;
            }
        }
        .othermessage {
            align-self: flex-start;
            .mess {
                background-color: #e5e5ea;
                color: black;
                border-radius: 10px 10px 10px 0;
                padding: 0 10px;
            }
        }
        
    }
}



.chat {
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    gap: 1rem;

    input {
        width: 100%;
        border: none;
        height: 4rem;
        border-radius: 15px;
        padding-left: 1rem;
    }

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 2rem;
        color: rgb(69, 134, 214);
        width: 4.5rem;
        height: 4.5rem;

        &:hover {
            background-color: #d6d3d3;
        }
    }
    // background-color: #333;
}
