.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.top {
    display: flex;
    padding: 1rem 0.5rem;
    gap: 5px;
    align-items: center;
    width: 100%;
    // background-color: #333;
    height: 7.5rem;
    border-bottom: 0.5px solid #333;

    .information {
        display: flex;
        padding: 0 1rem;
        align-items: center;
        height: 6rem;
        gap: 1rem;
        cursor: pointer;

        h2 {
            font-style: oblique;
        }
        img {
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            border: 1px solid #333;
        }

        &:hover {
            background-color: #d6d3d3;
            border-radius: 10px;
        }
    }

    .action {
        flex: 1;
        display: flex;
        justify-content: end;
        gap: 1rem;
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4.5rem;
            height: 4.5rem;
            font-size: 2.3rem;
            color: #4586d6;
            cursor: pointer;

            &:hover {
                background-color: #d6d3d3;
                border-radius: 50%;
            }
        }
    }
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
	padding:1rem;
    div {
        display: flex;
        max-width: 60%;
        padding: 0 10px;
        border-radius: 10px;
        margin: 5px 0;
        word-wrap: break-word;
    }

    .usermessage {
        align-self: flex-end;
        background-color: rgb(69, 134, 214);
        color: white;
        border-radius: 10px 10px 0 10px;
        p{
            width: 100%;
        }
    }

    .othermessage {
        align-self: flex-start;
        background-color: #e5e5ea;
        color: black;
        border-radius: 10px 10px 10px 0;
    }
    smail{
        margin-top: auto;
    }
}

.chat {
    height: 6rem;
	display: flex;
	align-items: center;
	padding:0 1.5rem;
	gap:1rem;

	input{
		width: 100%;
		border: none;
		height: 4rem;
		border-radius: 15px;
		padding-left: 1rem;
	}

	i{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		font-size: 2rem;
		color: rgb(69, 134, 214);
		width: 4.5rem;
		height: 4.5rem;

		&:hover{
			background-color: #d6d3d3;
		}
	}
    // background-color: #333;
}
