.profile{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	
}

.wrapper{
	margin: 0 10px;
	border-radius: 10px;
	display: flex;
	height: 70px;
	padding: 6px;
	align-items: center;
	cursor: pointer;

	&:hover {
		background-color: var(--background);
	}
}

.delete{
	font-size: 10px;
	margin-left: auto;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	&:hover{
		color: red;
		font-size: 13px;
	}
}

.name{
	padding-left: 10px;
}