
// index
.homeContainer {
  display: flex;
  height: 100vh; // Chiều cao 100% của màn hình
  background-color: #F0F2F5;
  color: black;
}

.flexGrow {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  flex: 0 0 20%; // Chiếm 20% chiều rộng
  min-width: 200px; // Chiều rộng tối thiểu
}

.mainContent {
  flex: 1; // Chiếm phần còn lại
  min-width: 600px; // Chiều rộng tối thiểu
}

.rightSidebar {
  flex: 0 0 20%; // Chiếm 20% chiều rộng
  min-width: 200px; // Chiều rộng tối thiểu
}
