.hover-trigger:hover .emoji-list {
    display: flex; /* Hiện biểu tượng khi hover */
  }
  
  .emoji-list {
    display: none; /* Ẩn danh sách biểu tượng theo mặc định */
    flex-direction: row; /* Đặt hướng cho danh sách biểu tượng */
    padding: 5px; /* Thêm một chút khoảng cách */
    gap: 5px; /* Khoảng cách giữa các biểu tượng */
  }
  


//   .hover-trigger {
//     position: relative;
//   }
  
//   .hover-trigger:hover .emoji-list {
//     opacity: 1; /* Hiện biểu cảm khi hover */
//   }
  
//   .emoji-list {
//     position: absolute;
//     bottom: 100%; /* Đẩy lên trên */
//     left: 0;
//     display: flex;
//     background: white;
//     padding: 0.5rem;
//     border-radius: 0.5rem;
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
//     transition: opacity 0.3s ease;
//     opacity: 0; /* Bắt đầu ẩn */
//     pointer-events: none; /* Không cho phép tương tác khi không hiển thị */
//   }
  
//   .hover-trigger:hover .emoji-list {
//     pointer-events: auto; /* Cho phép tương tác khi hiển thị */
//   }
  
  
  