.wrapper{
	display: flex;
}

.left{
	padding: 0.5rem;
	width: var(--left-and-right-item);
	border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.center{
	flex: 1;
	border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.right{
	width: var(--left-and-right-item);
}