//rightbar
.rightbar {
  width: 100%;
  padding: 1rem;
  position: relative;
}

.birthdaySection {
  margin-bottom: 1rem;
}

.sectionTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.birthdayInfo {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.birthdayIcon {
  margin-right: 0.5rem;
}

.contactsSection {
  margin-bottom: 1rem;
}

.contactsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.searchSettings {
  display: flex;
  align-items: center;
  position: relative; // Để định vị khung cài đặt
}

.cursorPointer {
  cursor: pointer;
}

.settingsDropdown {
  position: absolute;
  right: 0;
  top: 2rem; // Điều chỉnh vị trí của dropdown
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 320px; // Điều chỉnh kích thước dropdown
  padding: 1rem;
  z-index: 20; // Đảm bảo khung cài đặt không bị đè lên
}

.contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.contactImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.5rem;
}


